//--------------- bg-color start ---------------
$top-head-bg-color-default=#0A8159
$top-head-bg-color-hover=rgb(59, 154, 122)

$logo-bg-color-default=#076545

$side-bar-bg-color-default=#222d32
$side-bar-bg-color-inner=rgba(0, 0, 0, 0.1)
$side-bar-bg-color-hover=#526069

$main-content-bg-color-default=#EEEFF1

$login-bg-color-default=#222d32
$login-form-bg-color-default=rgba(0, 0, 0, 0.1)


$login-form-input-border-color-default=rgba(255, 255, 255, 0.1)
$login-form-input-border-color-focus=#0A8159
$login-form-input-border-color-error=#f56c6c
//--------------- bg-color end ---------------


//--------------- font-color start ---------------
$font-color-default=#c0c4cc
$font-color-hover=#eee
$font-color-high=#fff
//--------------- font-color end ---------------

//--------------- font-size start ---------------
$font-size-default=14px
$font-size-midium=12px
$font-size-small=10px
//--------------- font-size end ---------------


//--------------- height start ---------------
$top-head-height=50px
//--------------- height end ---------------
